.logo {
  transform: translateX(5%);

  aspect-ratio: 16/12;
  width: 100%;
  max-width: 500px;   /* ограничение ширины */

  background-image: url("/public/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  }

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 1.25rem;
  align-self: center;
  justify-content: center;

  width: 18.75rem;
}
