.root {
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-block;

  padding: 1rem 1.3125rem;
  border: 0;
  border-radius: 56px;

  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  text-decoration: none;

  background-color: #ff276f;
  outline: 0;

  transition: all 0.3s;

  &::before {
    content: "";

    position: absolute;
    top: 0.0625rem;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 1.5rem);
    height: 50%;
    border-radius: 7.8125rem;

    opacity: 0.5;
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgb(255 255 255 / 0%) 100%);

    transition: all 0.3s;
  }
}

.with_icon {
  padding-block: 0.65rem;

  &::before {
    // width: 75%;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
