.logo {
  transform: translateX(5%);

  aspect-ratio: 16/12;
  width: 100%;
  max-width: 400px; /* ограничение ширины */

  background-image: url("/public/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.go_back_button {
  position: absolute;
  top:0;
  left: 0;
}

.go_home_button {
  position: absolute;
  top:0;
  right: 0;
}
