.root {
  height: calc(100dvh - 1.25rem);
}

.main {
  flex-grow: 1;
}

.digit_card {
  aspect-ratio: 9/10;
  width: 70%;
  max-width: 18.75rem;
  margin-bottom: 5rem;
  padding: 5rem;

  * {
    font-size: 9rem;
  }
}
